.empty-message {
  font-size: 35px;
  background-color: #eb6e20ff;
  padding: 5px;
  height: 30vh;
  width: 35vw;
  display: flex;
  align-items: center;
  margin: 10px;
}

.player-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: 70vh;
  overflow: auto;
}

.favorites-header {
  height: 20vh;
}

@media screen and (max-width: 40em) {
  .favorites-header {
    height: 15vh;
  }

  .empty-message {
    font-size: 20px;
  }
};