.todays-game-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todays-game-header {
  height: 25vh;
}

@media screen and (max-width: 40em) {
  .todays-game-header {
    height: 15vh;
  }
}