/* .todays-game-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todays-game-header {
  height: 20vh;
}

.welcome-message {
  display: flex;
  background-color: white;
  height: fit-content;
  font-size: 20px;
  align-items: center;
  display: inline-block;
  width: 30vw;
  min-width: 30vw;
  padding: 15px;
  height: 26vh;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-want-houston {
  height: 90px;
  padding-bottom: 5px;
}

@media screen and (max-width: 40em) {
  .todays-game-header {
    height: 15vh;
  }

  .welcome-message {
    height: 30vh;
  }

}

@media screen and (max-width: 84em) {
  .todays-game-card-container {
    flex-direction: column;
  }

  .welcome-message {
    width: 60vw;
    font-size: 18px;
  }

  .we-want-houston {
    height: 10vh;
  }
}; */