.player-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 22vw;
  min-width: 13vw;
  height: 50vh;
  border-radius: 10px;
  opacity: 0.9;
  margin: 5px;
}

.headshot{
  height: 20vh;
}
  