.game-card-container {
  overflow: auto;
  align-items: center;
}

.scrollable-wrapper {
  overflow: auto;
  align-items: center;
  height: 75vh;
}

.schedule-header {
  height: 20vh;
}

@media screen and (max-width: 40em) {
  .schedule-header {
    height: 15vh;
  }
};