.game-card-container {
 background-color: grey;
 display: flex;
 flex-wrap: nowwrap;
 overflow-x: auto;
 align-items: center;
 justify-content: space-between;
 height: 75vh;
 /* make footer 10vh */
 background-image: url('../../images/mmp-nighttime.png');
 background-size: 100%;
 background-repeat: no-repeat;
 justify-content: center;
}

.scrollable-wrapper {
  display: flex;
  overflow-x: auto;
  max-width: 60vw; /* Set the maximum width to control the number of visible children */
  padding: 10px; /* Optional: Add padding for spacing between the children */
}