.nav {
  height: 15vh;
  background-color:#0c2d61ff;
  color: white;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.logolink-img {
  height: 10vh;
  padding-top: 5px;
}

.nav-button-wrapper {
  padding-bottom: 1%;
}

.nav-button {
  padding: 5px;
  background-color: #eb6e20ff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 50em) {
  .nav {
    height: 20vh;
  }

  .logo-container {
    top: 0;
  }

  .nav-button-wrapper {
    position: absolute;
    bottom: 0;
  }
};