.off-message-container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 30vw;
  padding: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 84em) {
  .off-message-container {
    width: 80vw
  }
};