.game-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  min-width: 13vw;
  height: 30vh;
  margin: 5px;
  padding: 10px;
}

@media screen and (max-width: 40em) {
  .game-card {
    min-width: 30vw;
  }
};